<section class="vh-100 body">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-xl-11 mt-3">
        <div class="card text-black bady w-50" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-1">
                  Sign up
                </p>

                <form class="mx-1 mx-md-4" [formGroup]="signupForm">
                  <div class="form-outline flex-fill mb-0">
                    <input
                      type="text"
                      id="firstname"
                      class="form-control"
                      placeholder="First Name"
                      formControlName="firstname"
                    />
                  </div>

                  <div class="form-outline flex-fill mb-0 mt-3">
                    <input
                      type="text"
                      id="lastname"
                      class="form-control"
                      placeholder="Last Name"
                      formControlName="lastname"
                    />
                  </div>

                  <div class="form-outline flex-fill mb-0 mt-3">
                    <input
                      type="email"
                      id="form3Example3c"
                      class="form-control"
                      placeholder="Email"
                      formControlName="email"
                    />
                  </div>

                  <div class="form-outline flex-fill mb-0 mt-3">
                    <input
                      type="password"
                      id="form3Example4c"
                      class="form-control"
                      placeholder="Password"
                      formControlName="password"
                    />
                  </div>

                  <div class="form-outline flex-fill mb-0 mt-3">
                    <input
                      type="password"
                      id="form3Example4cd"
                      class="form-control"
                      placeholder="Confirm Password"
                      formControlName="confirmpassword"
                    />
                  </div>

                  <div
                    class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 mt-3"
                  >
                    <button
                      type="button"
                      class="btn btn-primary btn-lg"
                      [disabled]="signupForm.invalid"
                      (click)="onsignup()"
                    >
                      Register
                    </button>
                  </div>
                </form>
                <p class="text-center">Already a registered User? <a routerLink="/login"> SignIn</a>&nbsp;here.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
