.body {
  background-image: url("https://freevector-images.s3.amazonaws.com/uploads/vector/preview/40490/vecteezy_background-white_fj1220.jpg");
}
.bady {
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/127/950/non_2x/abstract-soft-blue-background-with-dynamic-waves-shape-free-vector.jpg");
}

input.ng-invalid.ng-touched {
  border: rgb(245, 6, 6) 1px solid;
}
input.ng-valid.ng-touched {
  border: rgb(0, 200, 0) 1px solid;
}
textarea.ng-invalid.ng-touched {
  border: rgb(245, 6, 6) 1px solid;
}
textarea.ng-valid.ng-touched {
  border: rgb(0, 200, 0) 1px solid;
}
